# Python | Pandas Series

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.
Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

In this notebook we will get a brief insight on all these basic operation which can be performed on Pandas Series:

* Creating a Series
* Accessing element of Series
* Indexing and Selecting Data in Series
* Binary operation on Series
* Conversion Operation on Series

# Creating a Pandas Series
In the real world, a Pandas Series will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas Series can be created from the lists, dictionary, and from a scalar value etc. Series can be created in different ways, here are some ways by which we create a series:

1. Creating a series from array: In order to create a series from array, we have to import a numpy module and have to use array() function.

In [1]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['H','e','l','l','o','R','B','G'])
 
ser = pd.Series(data)
print(ser)

0    H
1    e
2    l
3    l
4    o
5    R
6    B
7    G
dtype: object

2. Creating a series from Lists:
In order to create a series from list, we have to first create a list after that we can create a series from list.

In [3]:
import pandas as pd
 
# a simple list
list = ['H', 'e', 'l', 'l', 'o','R','B','G']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    H
1    e
2    l
3    l
4    o
5    R
6    B
7    G
dtype: object

# Accessing element of Series
There are two ways through which we can access element of series, they are :

* Accessing Element from Series with Position
* Accessing Element Using Label (index)

# Accessing Element from Series with Position 

In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series. The index must be an integer. In order to access multiple elements from a series, we use Slice operation.

Accessing first 5 elements of Series

In [4]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['H','e','l','l','o','w', 'e','l','c','o','m','e'])
ser = pd.Series(data)
  
#retrieve the first element
print(ser[:5])

0    H
1    e
2    l
3    l
4    o
dtype: object

# Accessing Element Using Label (index) :
In order to access an element from series, we have to set values by index label. A Series is like a fixed-size dictionary in that you can get and set values by index label.

Accessing a single element using index label

In [9]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['H','e','l','l','o','w', 'e','l','c','o','m','e'])

# accessing a element using index element
print(ser[0])
print(ser[1])

H
e

# Indexing and Selecting Data in Series
Indexing in pandas means simply selecting particular data from a Series. Indexing could mean selecting all the data, some of the data from particular columns. Indexing can also be known as Subset Selection.

Indexing a Series using indexing operator [] :
Indexing operator is used to refer to the square brackets following an object. The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[ ].

In [15]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("rbg.csv")  
   
ser = pd.Series(df['name']) 
data = ser.head(5)
data

0       jairam
1      barathi
2    manogaran
3        kamal
4      Kishore
Name: name, dtype: object

Now we access the element of series using index operator [ ].

In [18]:
# accessing elements using indexing operator
data[3:5]

3      kamal
4    Kishore
Name: name, dtype: object

# Indexing a Series using .loc[ ] :
This function selects data by refering the explicit index . The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of data.

In [22]:
# example program to access the element of series using .loc[] function.
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("rbg.csv")  
   
ser = pd.Series(df['name']) 
data = ser.head(5)

# accessing element using .loc[]
data.loc[3:5]

3      kamal
4    Kishore
Name: name, dtype: object

# Indexing a Series using .iloc[ ] :
This function allows us to retrieve data by position. In order to do that, weâ€™ll need to specify the positions of the data that we want. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [25]:
# example program to access the element of series using .iloc[] function.
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("rbg.csv")  
   
ser = pd.Series(df['name']) 
data = ser.head(5)

# accessing element using .iloc[]
data.iloc[2:5]

2    manogaran
3        kamal
4      Kishore
Name: name, dtype: object

# Binary Operation on Series
We can perform binary operation on series like addition, subtraction and many other operation. In order to perform binary operation on series we have to use some function like .add(),.sub() etc..

In [27]:
# example program for binary operations on Series
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([5,6,7,8], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    1
b    2
c    3
d    4
dtype: int64

 a    5
b    6
d    7
e    8
dtype: int64

Now we add two series using .add() function.

In [28]:
# adding two series using .add
data.add(data1, fill_value=0) # fill_value is used to fill the NA

a     6.0
b     8.0
c     3.0
d    11.0
e     8.0
dtype: float64

Now we subtract two series using .sub function.

In [34]:
# subtracting two series using .sub
data.sub(data1, fill_value=0) # fill_value is used to fill the NA

a   -4.0
b   -4.0
c    3.0
d   -3.0
e   -8.0
dtype: float64

# Conversion Operation on Series
In conversion operation we perform various operation like changing datatype of series, changing a series to list etc. In order to perform conversion operation we have various function which help in conversion like .astype(), .tolist() etc.

In [38]:
# example program using astype to convert a datatype of series
 
# importing pandas as pd  
import pandas as pd 
   
# reading csv file  
data = pd.read_csv("rbg.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["salary"]= data["salary"].astype(int) 
data["age"]= data["age"].astype(str) 

   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 name              object
qualification     object
age              float64
address           object
designation       object
salary             int64
dtype: object

AFTER CONVERSION
 name             object
qualification    object
age              object
address          object
designation      object
salary            int64
dtype: object

In [39]:
# example program for converting a series into list
 
# importing pandas module  
import pandas as pd  
   
# importing regex module 
import re 
     
# making data frame  
data = pd.read_csv("rbg.csv")  
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["salary"]) 
   
# converting to list 
salary_list = data["salary"].tolist() 
   
# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
salary_list

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>

[5000, 10000, 20000]